* {
  box-sizing: border-box;
}

body {
  padding: 5px;
}

.title {
  font-family: "Great Vibes", cursive;
  font-style: italic;
  text-align: center;
  font-size: 60px;
  margin: 60px 0px;
}

.headline {
  font-style: italic;
  text-align: center;
}

.row {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.story {
  border: 1px solid gray;
  padding: 5px;
}

.story-text {
  line-height: 1.5;
  font-size: 18px;
}
.quarter {
  width: 25%;
}

.half {
  width: 50%;
}

.three-quarter {
  width: 75%;
}

.image {
  width: 100%;
}

.bottom-story {
  width: 33%;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.box {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: darkslategray;
  padding-left: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}
/* .link-sports {
  background-color: red;
}

.link-politics {
  background-color: khaki;
}
.link-technology {
  background-color: lemonchiffon;
}
.link-local {
  background-color: lightseagreen;
}
.link-opinion {
  background-color: lightskyblue;
} */

.box:nth-child(1) {
  background-color: khaki;
}
.box:nth-child(2) {
  background-color: lemonchiffon;
}
.box:nth-child(3) {
  background-color: lightseagreen;
}
.box:nth-child(4) {
  background-color: lightskyblue;
}
.box:nth-child(5) {
  background-color: lightsalmon;
}
